<div class="page-wrapper">
  <div class="page-content">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-4 border-success"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Reservas deste mês {{this.selectedMonth + '/' + this.selectedYear}}</p>
                <h4 class="my-1 text-success">{{ sms_by_month }}</h4>
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"
              >
                <i class="bx bxs-message-square-detail"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-4 border-success"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Total neste mês {{this.selectedMonth + '/' + this.selectedYear}}</p>
                <h4 class="my-1 text-success">{{ sms_by_month }} Kz</h4>
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"
              >
                <i class="bx bxs-message-square-detail"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
