<div class="page-wrapper">
  <div class="page-content">
    <h6 class="mb-0 text-uppercase">Administração</h6>
    <hr />

    <div class="card row col-lg-6 col-md-12 col-sm-12">
      <div class="card-body">
        <div class="form-body">

          <div *ngIf="loading" class="d-flex justify-content-center">
            <div style="width: 5rem; height: 5rem;" class="spinner-border" role="status">
            </div>
          </div>

          <div *ngIf="errorForm" class="alert alert-danger border-0 bg-danger alert-dismissible fade show">
            <div class="text-white">Dados incorretos!!!</div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          <div *ngIf="!loading" class="row g-3">
            <div class="col-md-12">
              <label for="input1" class="form-label">API Token</label>
              <input disabled="" [ngModel]="user.api_token" type="text" class="form-control" id="input1" />
            </div>
            <div class="col-md-12">
              <label for="input1" class="form-label">SMS disponíveis</label>
              <input disabled="" [ngModel]="user.available_sms" type="text" class="form-control" id="input1" />
            </div>
            <div class="col-md-12">
              <a href="https://developer.useombala.ao/" target="_blank" class="btn btn-light my-2">
                Documentação da API
              </a>
            </div>
          </div>
          <!--end row-->
        </div>
      </div>
    </div>
  </div>
</div>
