<div class="page-wrapper">
  <div class="page-content">
    <h6 class="mb-0 text-uppercase">Novo Quarto</h6>
    <hr />

    <div class="card row col-12">
      <div class="card-body">
        <div class="form-body">

          <div *ngIf="loading" class="d-flex justify-content-center">
            <div style="width: 5rem; height: 5rem;" class="spinner-border" role="status">
            </div>
          </div>

          <form [formGroup]="addForm" *ngIf="!loading" class="row g-3">
            <div class="col-md-12">
              <label for="descricao" class="form-label">Descrição</label>
              <input formControlName="descricao" type="text" class="form-control" id="descricao" />
            </div>

            <div class="col-md-12">
              <label for="comodidades" class="form-label">Comodidades</label>
              <textarea formControlName="comodidades" class="form-control" id="comodidades" placeholder="Ar Condicionado ..." rows="3"></textarea>
            </div>

            <div class="col-md-12">
              <label for="roomType" class="form-label">Tipo</label>
              <select formControlName="roomType" id="roomType" class="form-select">
                <option *ngFor="let item of roomTypes" [value]="item.name">
                  {{ item.name }}
                </option>
              </select>
            </div>

            <div class="col-md-12">
              <label for="preco" class="form-label">Preço (Kz)</label>
              <input formControlName="preco" type="number" class="form-control" id="preco" />
            </div>
            <div class="col-12">
              <button
                  (click)="salvar()"
                  type="button"
                  class="btn btn-primary"
                >
                  Salvar
                </button>
            </div>
          </form>
          <!--end row-->
        </div>
      </div>
    </div>
  </div>
</div>
