<div class="page-wrapper">
  <div class="page-content">
    <h1>Use o Ombala</h1>
    <div *ngIf="false" class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-4 border-danger"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Mensagens Enviadas</p>
                <h4 class="my-1 text-danger">2</h4>
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-burning text-white ms-auto"
              >
                <i class="bx bxs-message-square-detail"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-4 border-success"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Mensagens disponíveis</p>
                <h4 class="my-1 text-success">12</h4>
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"
              >
                <i class="bx bxs-message-square-detail"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div
          class="card radius-10 border-start border-0 border-4 border-warning"
        >
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div>
                <p class="mb-0 text-secondary">Remetentes</p>
                <h4 class="my-1 text-warning">2</h4>
              </div>
              <div
                class="widgets-icons-2 rounded-circle bg-gradient-orange text-white ms-auto"
              >
                <i class="bx bxs-mail-send"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
</div>
